.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  background-image: url("/img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 140px 0 0 0;
}

.advantages__text {
  padding: 46px 60px 76px 58px;
  text-align: center;
}

.advantages__text-item {
  margin: 0;
  margin-bottom: 43px;

  @include text-options(24px, 300, normal, #283645);
}

.advantages__list {
  padding: 0 34px 0 34px;
}

.advantages__title {
  margin: 0;
  text-align: center;

  @include text-options(18px, 600, 24px, #000000);
}

.advantages__item {
  text-align: center;
  margin-bottom: 38px;

  @include text-options(14px, 300, 24px, #283645);
}

.advantages__img {
  display: none;
}

@media (min-width: 660px) {
  .advantages__text-item {
    font-size: 40px;
    margin: 0;
  }

  .advantages__text-item:nth-child(2) {
    max-width: 350px;
    margin: 0 auto;
  }

  .advantages__text {
    padding: 59px 37px 50px 37px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 65px 0 0 0;
    align-items: center;
  }

  .advantages__list {
    max-width: 306px;
  }

  .advantages__picture {
    height: 481px;
  }
}

@media (min-width: 1200px) {
  .advanteges__picture {
    display: none;
  }

  .advantages__list {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin: 0;
    max-width: 100%;
  }

  .advantages__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    max-width: 250px;
  }

  .advantages__title {
    margin: 0;
    text-align: center;

    @include text-options(30px, 600, 30px, #000000);
  }

  .advantages__item {
    text-align: center;
    margin-bottom: 38px;

    @include text-options(18px, 300, 30px, #283645);
  }

  .advantages__wrapper {
    justify-content: center;
    background-color: #f2f2f2;
    background-image: url("/img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
  }

  .advantages__img {
    display: inline-block;
    margin-bottom: 50px;
  }
}
