.advantages__text {
  padding: 46px 60px 76px 58px;
  text-align: center;
}

.advantages__text-item {
  margin: 0;
  margin-bottom: 43px;

  @include text-options(24px, 300, normal, #283645);
}

.advantages__list {
  padding: 0 34px 0 34px;
}

.advantages__title {
  margin: 0;
  text-align: center;

  @include text-options(18px, 600, 24px, #000000);
}

.advantages__item {
  text-align: center;
  margin-bottom: 38px;

  @include text-options(14px, 300, 24px, #283645);
}
