.contacts {
  padding: 50px 0 0 0;
  text-align: center;
}

.contacts__title {
  margin: 0;
  margin-bottom: 44px;

  @include text-options(24px, 300, normal, #283645);
}

.contacts__text {
  margin: 0;
  margin-bottom: 11px;

  @include text-options(18px, 600, normal, #283645);
}

.contacts__data {
  text-decoration: none;
  margin: 0;
  margin-bottom: 27px;
  display: block;
  outline: none;

  @include text-options(24px, 300, normal, #d22856);

  &--mail:hover {
    color: #283645;
    text-decoration: underline;
  }

  &--mail:focus,
  &--mail:active {
    opacity: 30%;
  }
}
@media (min-width: 660px) {
  .contacts__title {
    margin: 0 auto;
    padding-bottom: 57px;

    @include text-options(40px, 300, normal, #283645);
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__call {
    margin: 0 auto;
    min-width: 40%;
  }

  .contacts__adress {
    margin: 0 auto;
    min-width: 40%;
  }

  .contacts__write {
    min-width: 40%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contacts__title {
    padding-bottom: 70px;
  }

  .contacts__call {
    margin: 0 auto;
    min-width: 250px;
    order: 1;
  }

  .contacts__adress {
    margin: 0 auto;
    min-width: 250px;
    order: 2;
  }

  .contacts__write {
    min-width: 250px;
    margin: 0 auto;
    order: 3;
  }
}
