.links {
  background-color: #283645;
  padding: 28px 0 0 0;
}

.links__download {
  display: block;
  padding: 20px 0;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 44px;
  max-width: 280px;
  outline: none;

  @include text-options(18px, 600, 18px, #ffffff);
}

.links__download:hover {
  color: #d22856;
  background-color: #ffffff;
}

.links__download:active,
.links__download:focus {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}

.links__list {
  padding: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  margin: 0 auto;
}

.links__list-item {
  display: block;
  width: 50px;
  margin: 0 15px;
  outline: none;

  &--apple {
    background-image: url("/img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
  }

  &--android {
    background-image: url("/img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 47px;
  }

  &--windows {
    background-image: url("/img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 47px;
  }
}

.links__text {
  margin: 0;
  padding: 0 45px 35px 45px;
  text-align: center;

  @include text-options(14px, 300, 24px, #ffffff);
}

@media (min-width: 660px) {
  .links-wrapper {
    background-image: url("/img/iphone-hand-tablet@1x.png"),
      url("/img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center, center;
    background-size: 720px, cover;
    padding: 0 20px;
    position: relative;
  }

  .links {
    padding: 307px 0 112px 20px;
    background-color: initial;
    position: relative;
    max-width: 300px;
  }

  .links__text {
    padding: 0;

    @include text-options(18px, 300, 24px, #ffffff);
  }
}

@media (min-width: 1200px) {
  .links {
    padding: 450px 0 75px 120px;
  }

  .links__text {
    padding: 0px 0 50px 0;

    @include text-options(18px, small, 24px, #ffffff);
  }

  .links__download {
    margin-bottom: 75px;
  }

  .links__list {
    padding-bottom: 60px;
  }

  .links-wrapper {
    background-image: url("/img/iphone-hand-desktop@1x.png"),
      url("/img/bg-back-desktop@1x.jpg");
    background-position: bottom, center, center;
    background-size: 1120px, cover;
  }
}
