.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__logo-image {
  width: 75px;
  height: 22px;
  padding: 22px 0 25px 20px;
}

.main-nav__toggle {
  width: 24px;
  height: 23px;
  margin: 21px 19px 25px 0;
}
