.main__map {
  width: 100%;
  position: relative;

  &--item {
    width: 100%;
    height: 200px;
  }

  &--triangle {
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
  }
}

@media (min-width: 660px) {
  .main__map {
    &--item {
      height: 430px;
    }
  }
}

@media (min-width: 1200px) {
  .main__map {
    &--item {
      height: 500px;
    }
  }
}
