.rates {
  padding: 0 20px;
  overflow: hidden;
  background-image: url("/img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.rates__wrapper {
  transform: translate(-33.3%);
  width: 300%;
}

.rates__table {
  width: 100%;
  border-collapse: collapse;
  word-break: break-all;
  margin: 0;
}

.rates__table-wrapper {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.rates__table-title {
  background-color: #283645;
  min-width: 276px;
  text-transform: uppercase;
  padding: 13px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  color: #ffffff;

  &--empty {
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid #e5e5e5;

    @include text-options(18px, 600, 30px, #ffffff);
  }

  &--price {
    @include text-options(24px, 300, 30px, #ffffff);
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }

  &--hit::before {
    content: "Хит";
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    left: -20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(319deg);
    background-color: #d22856;
  }
}

.rates__table-cell {
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  padding: 12px;

  @include text-options(14px, 300, 30px, #283645);
}

.rates__buttons {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 40px 0 20px 0;
  justify-content: center;
  background-color: #f2f2f2;
}

.rates__buttons-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.rates__buttons-item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  margin-right: 19px;
  border-radius: 50%;
  width: 6px;
  border: none;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  box-sizing: content-box;
  outline: none;
}

.rates__buttons-item:hover {
  background-color: #283645;
  opacity: 0.6;
}

.rates__buttons-item:focus,
.rates__buttons-item:active {
  background-color: #e2e2e2;
  border: 3px solid #283645;
  opacity: 1;
}

@media (min-width: 660px) {
  .rates__table-cell {
    &--yes {
      background-image: url("/img/icon-yes.svg");
      background-repeat: no-repeat;
      background-size: 31px 21px;
      background-position: center;
      font-size: 0;
      line-height: 0;
    }

    &--no {
      background-image: url("/img/icon-no.svg");
      background-repeat: no-repeat;
      background-size: 27px 26px;
      background-position: center;
      font-size: 0;
      line-height: 0;
    }
  }

  .rates__table-title {
    min-width: 152px;

    @include text-options(16px, 600, 30px, #ffffff);

    &--price {
      @include text-options(18px, 300, 30px, #ffffff);
    }

    &--hit::before {
      width: 94px;
      height: 26px;
      font-size: 14px;
      line-height: 30px;
      position: absolute;
      top: 1px;
      left: -20px;
    }
  }

  .rates__wrapper {
    width: 608px;
    transform: none;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .rates {
    padding: 75px 0;
  }

  .rates__buttons {
    display: none;
  }
}

@media (min-width: 1200px) {
  .rates__wrapper {
    width: 940px;
    transform: none;
    margin: 0 auto;
  }

  .rates {
    padding: 150px 0 0 0;
  }

  .rates__buttons {
    display: none;
  }

  .rates__table {
    margin-bottom: 98px;
  }

  .rates__table-title {
    min-width: 233px;

    &--hit::before {
      content: "Хит";
      width: 100px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      position: absolute;
      top: 5px;
      left: -20px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      transform: rotate(319deg);
      background-color: #d22856;
    }
  }
}
