.review__item {
  padding: 0 33px 20px 37px;
  background-color: #f2f2f2;
  margin: 0 20px 20px 20px;

}
.review__img {
  width: 100%;
  display: inline-flex;
}
.review__picture {
  width: 100%;
  display: block;
  margin: 0 20px 25px 20px;

  &--item {
    width: 100%;
  }
  &--item-main {
    width: 100%;
  }
}

.review__main-picture {
  width: 100%;
}

.review__name {
  display: inline;
  margin: 0;

  @include text-options(14px, 500, 24px, #283645);
}

.review__time {
  margin: 0;
  display: inline;
  text-transform: uppercase;

  @include text-options(12px, 300, 24px, #283645);
}

.review__text {
  margin: 0;
  margin-bottom: 20px;

  @include text-options(12px, 300, 24px, #283645);
}

.review__like {
  display: inline;
  text-decoration: none;
}

.review__like-btn {
  margin-right: 20px;
}

.review__quantity {
  margin: 0;
  display: inline;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  @include text-options(12px, 300, 24px, #d22856);
}

@media (min-width: 660px) {
  .review {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }

  .review__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .review__item {
    height: 125px;
    margin: 0 0 20px 0;
    padding: 30px 52px 0px 28px;

    &--main {
      align-self: center;
      padding: 0 20px;
      width: 580px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
  .review__picture {
    margin: 0;
    width: 300px;

    &--item {
      width: 300px;
    }
  }

}

@media (min-width: 1200px) {
  .review__main {
    display: flex;
    flex-direction: column;
  }
  .review__item {
    &--main {
      align-self: center;
      width: 940px;
    }
  }
}
