.reviews {
  background-color: #ffffff;
  padding-top: 49px;
  text-align: center;
}
.reviews-quotes {
  display: none;
}
.reviews__item-name {
  margin-bottom: 21px;

  @include text-options(18px, 600, 30px, #000000);
}

.reviews__item-text {
  margin: 0;
  padding: 0 22px 42px 22px;

  @include text-options(14px, 300, 30px, #283645);
}

.reviews__buttons {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0 0 127px 0;
  justify-content: center;
}

.reviews__buttons-item {
  margin-right: 19px;
  border-radius: 20px;

  &--active {
    border: solid;
    border-radius: 20px;
    margin-right: 19px;
  }
}

.rewiews__text-hidden {
  display: none;
}

@media (min-width: 660px) {
  .reviews__buttons {
    padding: 0 0 20px 0;
  }
}

@media (min-width: 1200px) {
  .reviews {
    background-image: url("/img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 90px;
    background-size: 79px 63px;
    padding: 193px 0 35px 0;
    display: flex;
    justify-content: space-around;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    max-width: 700px;
  }
  .reviews-quotes {
    display: block;
    width: 22px;
    height: 41px;
  }

  .rewiews-quotes__item {
    opacity: 0.3;
    outline: none;
  }
  .rewiews-quotes__item:hover {
    opacity: 0.6;
  }
  .rewiews-quotes__item:focus, .rewiews-quotes__item:active {
    opacity: 0.1;
  }

  .rewiews__text-hidden {
    display: block;

    @include text-options(18px, 300, 30px, #283645);
  }

  .reviews__item-name {
    margin-bottom: 0;

    @include text-options(24px, 600, 30px, #000000);
  }

  .reviews__item-text {
    margin: 0;

    @include text-options(18px, 300, 30px, #283645);
  }

  .reviews__buttons {
    display: none;
  }
}
