.reviews__buttons {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0 0 127px 0;
  justify-content: center;
}

.reviews__buttons-item {
  margin-right: 19px;
  border-radius: 20px;

  &--active {
    border: solid;
    border-radius: 20px;
    margin-right: 19px;
  }
}
