.site-list__item {
  margin: 0;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;

  @include text-options(18px, 600, 32px, #ffffff);
}

@media (min-width: 1200px) {
   .site-list {
     display: flex;
     flex-direction: row;
     width: auto;
   }

  .site-list__link {
    text-transform: none;

    @include text-options(18px, 300, 18px, #ffffff);
  }
  .site-list__item {
    border: none;
    width: auto;
    margin-right: 82px;
  }
}
