.site-list__item {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;

  @include text-options(18px, 600, 32px, #ffffff);
}
