body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: normal;
  margin: 0;
  padding: 28px 48px 33px 47px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: 660px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 40px;
    max-width: 200px;
    padding: 103px 0 39px 58px;
  }
}

@media (max-width: 660px) {
  .index__footer {
    display: none;
  }
}

@media (min-width: 1200px) {
  h1 {
    padding: 121px 0 0 166px;
  }
}
