body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: normal;
  margin: 0;
  padding: 28px 48px 33px 47px;
  text-align: center;
}
