.links {
   background-color:#283645;
  &__download {
    display: block;
    padding: 28px 20px 40px 19px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
  }
  &__list {
     display: flex;
     padding: 0 58px 31px 57px;
  }
    &--item {
    }
  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    padding: 0 45px 35px 45px;
    text-align: center;
    color: #ffffff;
  }
}
